html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.body {
  background-image: url("./images/images-2.jpeg");
  height: 705px;
  position: relative;
  margin-top: 1px;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  min-height: 380px;
  /* image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          Firefox */
  /* image-rendering: -o-crisp-edges;            /* Opera */
  /* image-rendering: -webkit-optimize-contrast; Webkit (non-standard naming) */
}

/* .body {
  background: linear-gradient(#e66465,#9198e5);
} */

.container {
  background-color: #fff;
  width: 350px;
  position: absolute;
  right: 10px;
  top: 20%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 2%;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

#demo1,
#demo2 {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

h2 {
  margin-top: 30px;
  text-align: center;
}

#hidden {
  display: none;
}

textarea {
  resize: none;
}

.navbar {
  height: 50px;
  background-color: #333;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
  position: -webkit-sticky; 
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
} */

/* .active {
  position: absolute;
  left: 10px;
}

.left {
  position: absolute;
  right: 30px;
} */


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
